n8n-workflows/application-form-telegram-FIXED.json
{
  "name": "Application Form → Telegram (na8us.com)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "application-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook: Application Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "application-form-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.name }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-node",
      "name": "Validate Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "chatId": "6704790457",
        "text": "=🎉 **НОВАЯ ЗАЯВКА НА NA8US.COM**\n\n👤 **Имя:** {{ $json.name }}\n📞 **Контакт:** {{ $json.contact }}\n🔧 **Услуга:** {{ $json.service }}\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n📝 **Задача:**\n{{ $json.task }}\n\n📊 **Ситуация:** {{ $json.situation }}\n⏱ **Сроки:** {{ $json.timeline }}\n💰 **Бюджет:** {{ $json.budget }}\n\n🔗 **Источник:** {{ $json.source }}\n⏰ **Время:** {{ $json.timestamp }}",
        "extraFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-node",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [650, 200],
      "credentials": {
        "telegramApi": {
          "id": "na8us-expansion-telegram-credentials",
          "name": "na8us_Expansion_Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: \"Заявка получена! Мы свяжемся с вами в ближайшее время.\" } }}",
        "options": {}
      },
      "id": "response-node",
      "name": "Response: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, message: \"Ошибка валидации\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response",
      "name": "Response: Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Webhook: Application Form": {
      "main": [
        [
          {
            "node": "Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Data": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response: Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Response: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-02-05T21:30:00.000Z",
      "updatedAt": "2026-02-05T21:30:00.000Z",
      "id": "application-form",
      "name": "Application Forms"
    },
    {
      "createdAt": "2026-02-05T21:30:00.000Z",
      "updatedAt": "2026-02-05T21:30:00.000Z",
      "id": "telegram",
      "name": "Telegram"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-06T15:00:00.000Z",
  "versionId": "application-form-v2-fixed"
}
